[submodule "m4"]
	path = m4
	url = git@github.com:pguio/m4.git
[submodule "src/c++-tools"]
	path = src/c++-tools
	url = git@github.com:pguio/cplusplus-tools.git
[submodule "matlab/@sd"]
	path = matlab/@sd
	url = git@github.com:pguio/sd.git
